# =========================
# JetBrains / IDE (punyamu)
# =========================
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode / IDE lain
# =========================
.vscode/
.idea/
*.iml

# =========================
# Python / venv
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
.env
.env.*

# =========================
# Node / React
# =========================

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Generated runtime folders (WAJIB)
# =========================
engine/uploads/
engine/output/
web/download/

# =========================
# Generated documents (WAJIB)
# =========================
*.pdf
*.zip
*.rar

# =========================
# Logs
# =========================
*.log
